<div class="app-container">
  <div class="buttons-container">
    <button mat-fab extended (click)="goToAllCharacters()">
      Ver Todos
      <mat-icon>sort</mat-icon>
    </button>
    <button mat-fab extended (click)="goToFavoritesCharacters()">
      Mis Favoritos
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <router-outlet />
  <div class="floating-action-button">
    <button
      mat-fab
      color="accent"
      aria-label="add-character"
      (click)="openDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
